@use "../abstract" as *;

body{
    background-color: var(--color-neutral-50);
    font-family: var(--ff-Montserrat);
    font-size: var(--fs-300);
    color: var(--color-neutral-900);
}

.main{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1.5em;
    margin: 2em 1em;

    @include size(M){
        grid-template-columns: repeat(3, 1fr);
        margin: 2em 2em;
    }

    @include size(L){
        grid-template-columns: repeat(4, 1fr);
        margin: 2em 10em;
    }


    &__banner{

        grid-area: 1 / 1 / 2 / 2;

        @include size(M){
            grid-area: 1 / 1 / 2 / 5;
        }

        @include size(L){
            grid-area: 1 / 1 / 2 / 4;
        }
    }

    &__filters{
        display: none;

        @include size(M){
            display: block;
            position: sticky;
            top: 9em;
        }

        @include size(L){
            display: block;
            position: sticky;
            top: 9em;
        }
    }

    &__products{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5em;

        @include size(M){
            grid-area: 2 / 2 / 5 / 4;
            grid-template-columns: 1fr 1fr;
        }

        @include size(L){
            grid-template-columns: 1fr 1fr;
            grid-area: 2 / 2 / 5 / 4 ;  
        }
    }

    &__cart{
        display: none;

        @include size(M){
            display: none;
        }

        @include size(L){
            display: block;
            position: sticky;
            top: 9em;
            grid-area: 1 / 4 / 5 / 5;
        }
    }
}