@use "../abstract" as *;

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1.5em;
    margin: 2em 10em;


    &__banner{
        grid-area: 1 / 1 / 2 / 4;
    }

    &__filters{
        grid-area: 2 / 1 / 5 / 2;
    }

    &__products{
        grid-area: 2 / 2 / 5 / 4 ;
    }

    &__cart{
        grid-area: 1 / 4 / 5 / 5;
    }
}