@use "../abstract" as *;


.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;

    

    &--onlyConfirm .button--cancel {
        display: none;
    }

    &--onlyCancel .button--confirm {
        display: none;
    }

    &__alertBox {
        @include box();
        position: relative;
        padding: 3rem;

        animation: scaleUp .4s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-origin: 50% 50%;


        &__close {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            cursor: pointer;
            z-index: 120;
        }
    
        &__title {
            @include boxTitle(--fs-300);
        }
        &__buttons {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            gap: 2rem;
        }

        @include size(M) {
            padding: 3rem;
            &__title {
                font-size: var(--fs-400);
            }
            &__close {
                top: 1.5rem;
                right: 1.5rem;
            }

        }
    
        @include size(L) {
            padding: 4rem;
            &__title {
                font-size: var(--fs-500);
            }
            &__close {
                top: 2rem;
                right: 2rem;
            }

        }

        
    }

}