@use "../abstract" as *;

.filters {
  border-radius: 20px;
  background-color: var(--color-neutral-100);
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-300);
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.1);

  &__checkbox {
    accent-color: var(--color-red-400);
    width: 1.5rem;
    height: 1.5rem;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
  }

  &__subitem {
    padding: 0.4rem;
  }

  &__text {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }

  &__sublist {
    padding-left: 1rem;
  }

  &__item {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__item:nth-child(1) {
    font-size: var(--fs-300);
  }

  &__checkbox {
    margin-right: 0.5rem;
  }

  &__item:nth-child(4) {
    padding: 0;

    .filters__text {
      display: flex;
      align-items: center;

      &-plat {
        padding: 0.4rem;
        font-size: var(--fs-300);
      }
    }
  }
}

.filters__header {
  border: 1px solid var(--color-neutral-500);
  border-radius: 20px 20px 0 0;
  padding: 2rem;
}

.filters__subheader {
  border: 1px solid var(--color-neutral-500);
  border-radius: 0 0 20px 20px;
  border-top: 0;
  padding: 2rem;
  gap: 2em;
  display: flex;
  flex-direction: column;
}

.filters__container {
  border: 0.1rem solid var(--color-neutral-900);
  border-top: 0;
  border-radius: 0 0 20px 20px;
  padding: 1rem;
}

.filters__select {
  padding: .8em;
  border-radius: 12px;
  background-color: var(--color-red-400);
  font-size: var(--fs-300);
  font-family: var(--ff-Montserrat);
  color: var(--color-neutral-100);
  border: none;
  border-right: 1rem solid transparent;
  cursor: pointer;
}

.filters__title {
  @include boxTitle(--fs-500);
  font-weight: var(--fw-700);
}