@use "../abstract" as *;

.login {
    @include box();

    // TEMPORAIRE
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // 

    &__title {
        @include boxTitle(--fs-500);
        width: 100%;

    }

    &__line {
        position: relative;
        height: 2px;
        width: 100%;
        background-color: var(--color-neutral-300);
        margin-bottom: 1rem;

        
    }

    &__line::after {
        content: '';
        position: absolute;

        width: 100%;
        margin-top: 1rem;
        color: var(--color-red-500);
        font-family: var(--ff-Montserrat);
    }

    &--errorLogin .login__line::after {
        content: 'Mot de passe ou nom d’utilisateur incorrect'; 
        
    }
    &--errorSingup .login__line::after {
        content: 'Addresse mail déja utilisée'; 
        
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__input {
        border: 2px solid var(--color-red-500);
        border-radius: 12px;
        padding: .7rem;
        width: 100%;
    }

    &__input::placeholder {
        font-family: var(--ff-Montserrat);
    }

    &__noAccount {
        color: var(--color-neutral-500);
        font-family: var(--ff-Montserrat);
        text-transform: capitalize;
        font-size: var(--fs-200);
        margin-bottom: 1rem;
    }

}