@use "../abstract" as *;


.mainBanner{

    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-neutral-300);
    gap: 1em;
    &__logo{
        max-height: 4rem;

    }

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__title{
        font-family: var(--ff-Rakkas);
        font-size: var(--fs-450);
        color: var(--color-neutral-900);
    }

    &__ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle{
        font-family: var(--ff-Montserrat);
        font-size: var(--fs-300);
        color: var(--color-neutral-900);

    }

    &__button{
        font-family: var(--ff-Montserrat);
        font-size: var(--fs-200);
        color: var(--color-neutral-900);
        text-decoration: underline;
        width: fit-content;
        cursor: pointer;
    }

    @include size(M) {
        position: relative;
        &__button {
            position: absolute;
            top: 0;
            right: 0;
            font-size: var(--fs-300);
        }
        &__title {
            font-size: var(--fs-500);
        }
    }
}