

@mixin size ($breakpoint) { //the name of the mixin is devices
  
  @if $breakpoint == S {    
    @media only screen and (min-width: 450px) {
      @content;
    }
  }

  @if $breakpoint == M {
    @media only screen and (min-width: 550px) {
      @content;
    }
  }
 
  @if $breakpoint == L {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }
}

@mixin box() {
  width: 95vw;
  height: fit-content;
  background-color: var(--color-neutral-100);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.4);
  gap: 2rem;
  transition: all 0.3s var(--anim);
  overflow: hidden;



  @include size(M) {
    width: 80vw;
    max-width: 500px;



  }

@include size(L) {
    width: 50vw;
    min-width: 800px;

  }
}

@mixin boxTitle($fontSize: --fs-500) {
  font-size: var($fontSize);
  font-weight: var(--fw-600);
  font-family: var(--ff-Rakkas);
  color: var(--color-neutral-900);
  text-transform: capitalize;
}

  