@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&family=Rakkas&display=swap');
// colors
$colors: (
    neutral:(
        50: hsl(0 0 98%),
        300: hsl(0 0 87%),
        500: hsl(0 0 58%),
        700: hsl(0 0 31%),
        900: hsl(0 0 13%),
    ),
    red:(
        50: hsl(6 100% 98%),
        100: hsl(6 93% 88%),
        200: hsl(6 89% 79%),
        300: hsl(6 83% 69%),
        400: hsl(6 78% 61%),
        500: hsl(6 71% 54%),
        600: hsl(6 68% 48%),
        700: hsl(6 74% 41%),
        800: hsl(6 79% 35%),
        900: hsl(6 81% 29%),
    ),
    yellow:(
        50: hsl(42 100% 98%),
        100: hsl(44 93% 88%),
        200: hsl(44 89% 79%),
        300: hsl(44 83% 69%),
        400: hsl(44 78% 61%),
        500: hsl(44 71% 54%),
        600: hsl(44 68% 48%),
        700: hsl(44 74% 41%),
        800: hsl(44 79% 35%),
        900: hsl(44 81% 29%),
    ),

);


// font-families
$ff:(
    Montserrat: "'Montserrat', sans-serif",
    Rakkas: "'Rakkas', serif"
);



// font-size
$fs: (
    100: 0.5rem,
    200: 0.688rem,
    300: 1rem,
    400: 1.438rem,
    500: 2rem,
    600: 2.812rem,
    700: 4rem,
    800: 5.625rem
    900: 8rem,
);


// font-weights
$fw: (
    200: 200,
    400: 400, 
    500: 500,
    700: 700,
);





:root {
    // colors
    @each $color, $shadeMap in $colors {
        @each $shade, $value in $shadeMap {
            --color-#{$color}-#{$shade}: #{$value};
        }
    }

    // font-families
    @each $key, $value in $ff {
        --ff-#{$key}: #{$value};
    }

    // font-size
    @each $key, $value in $fs {
        --fs-#{$key}: #{$value};
    }

    // font-weights
    @each $key, $value in $fw {
        --fw-#{$key}: #{$value};
    }

}